* {
    border: none;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    min-height: 10px;
}

window {}

window#waybar {
    background-color: #1A1B26;
    border-radius: 15px;
    margin-top: 6px;
}

window#waybar-hidden {
    opacity: 0.2;
}

#window {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: transparent;
    background: transparent;
}

#workspaces {
  margin: 2px 2px 2px 2px;
  border-radius: 18px;
  background: #222330;
  transition: none;
  padding-left: 12px;
  padding-right: 12px;
}

#workspaces button {
  transition: none;
  color: #B5E8E6;
  background: transparent;
  margin-right: 10px;
}

#workspaces button.persistent {
  transition: none;
  color: #7aa2f7;
  background: transparent;
  font-size: 4px;
}

#workspaces button.empty {
  margin-top: 2px;
  transition: none;
  color: #222f40;
  background: transparent;
  font-size: 6px;
}

#workspaces button.active {
  transition: none;
  color: #e0af68;
  background: transparent;
  font-size: 12px;
}

#network {
  margin: 2px 2px 2px 2px;
  border-radius: 18px;
  background: #222330;
  transition: none;
  padding-left: 12px;
  padding-right: 12px;
}

#battery {
  margin: 2px 2px 2px 2px;
  border-radius: 18px;
  background: #222330;
  transition: none;
  padding-left: 12px;
  padding-right: 12px;
}

#clock {
  margin: 2px 2px 2px 2px;
  border-radius: 18px;
  transition: none;
  padding-left: 12px;
  padding-right: 12px;
}

#cpu {
  margin: 2px 2px 2px 2px;
  border-radius: 18px;
  background: #222330;
  transition: none;
  padding-left: 12px;
  padding-right: 12px;

}

#memory {
  margin: 2px 2px 2px 2px;
  border-radius: 18px;
  background: #222330;
  transition: none;
  padding-left: 12px;
  padding-right: 12px;
}

#disk {
  margin: 2px 2px 2px 2px;
  border-radius: 18px;
  background: #222330;
  transition: none;
  padding-left: 12px;
  padding-right: 12px;
}

#custom-launcher {
  margin: 2px 2px 2px 2px;
  border-radius: 18px;
  transition: none;
  color: #7aa2f7;
  padding-left: 12px;
  padding-right: 12px;
}

#custom-screenshots {
  margin: 2px 2px 2px 2px;
  border-radius: 18px;
  background: #222330;
  transition: none;
  padding-left: 12px;
  padding-right: 12px;
}

#pulseaudio {
  margin: 2px 2px 2px 2px;
  border-radius: 18px;
  background: #222330;
  transition: none;
  padding-left: 12px;
  padding-right: 12px;
}

#tray {
  margin: 2px 2px 2px 2px;
  border-radius: 18px;
  background: #222330;
  transition: none;
  padding-left: 12px;
  padding-right: 12px;
}
